.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  
  width: 90%;
  margin: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(auto,200px);
  gap: 30px;
}
.main>div{
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.main>div>img{
width: 90%;
height: 50%;
}

.newform{

  border: 1px solid black;
  padding: 20px 20px;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 10%;
}

.newform input{
  padding: 10px
  


}
.card{
  border: outset;
  border-color: blue;
  width: 20%;
  height: 300px;
  padding: 10px;
  box-shadow: sandybrown;
  position: absolute;
  left: 40%;
}
